pygame~=2.6.1
evdev~=1.8.0
pillow~=11.1.0
graphviz~=0.20.3
cobs~=1.2.1
orjson~=3.10.5
pyserial~=3.5
numpy~=1.19.5
stm32loader~=0.7.1
gTTs ~= 2.5.4
luma.oled ~= 3.14.0
edge-tts ~= 7.0.0
pydub ~= 0.25.1
pyttsx3 ~= 2.98
dacite~=1.9.2
cobs==1.2.1
evdev==1.7.1
flask==3.1.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
orjson==3.10.10
picamera2==0.3.12
PyYAML==6.0.2
click~=8.1.8